streamlit
torch
torchvision
torchaudio
transformers
sentencepiece
pdfplumber
pytesseract
Pillow
opencv-python-headless
matplotlib
numpy
huggingface-hub
google-generativeai
scipy
scikit-learn
PyMuPDF
pandas
git+https://github.com/facebookresearch/segment-anything.git
